https://stackoverflow.com/questions/77364550/attributeerror-module-pkgutil-has-no-attribute-impimporter-did-you-mean
allure-pytest - версия системы отчетов, генерация отчетов о пройденных тестах
requests - библиотека для создания http запросов
pytest - фреймворк для тестирования

https://playground.learnqa.ru/api/map